@import "./styles.css";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-card: var(--color-neutral-100);
  --color-muted: var(--muted);
  --color-thead: var(--color-neutral-300)
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,var(--primary) 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--primary));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

button,
input[type="button"],
a {
  cursor: pointer;
}

.interactive {
  @apply shadow-sm shadow-black/25 not-disabled:active:shadow-none not-disabled:active:translate-y-0.5
}

* {
  scrollbar-width: thin;
}